# Will exclude all LaTeX files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.el
*.pdf
_region_.tex
.DS_Store
*.swp
# Will exclude all *~ files
*~
# except for .gitignore
!.gitignore
#compiled files
*.class
*.nxj
#Eclipse Rotz
.metadata
doc
bin
!documentation/mockups/*.pdf